body {
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Dongle', sans-serif;
    font-size: 1.75rem;
    background-image: url(/assignment/image/bg.jpg);
}
.background {
    width: 70%;
    max-width: 1000px;
    background-color: white;
    display: flex;
    justify-content: center;
}
.restrict_body {
    width: 95%;
    max-width: 900px;
    
}
/*-------------nav-------------*/
.top_bar {
    background-color: #14148C;
    width: 100%;
    height: 40px;
    margin: 0;
    position: absolute;
    z-index: 1;
}
.nav {
    color: white;
}
.nav_ul {
    height: 40px;
    margin: 0;
    padding: 0;
    list-style: circle;
    display: flex;
}
.nav_li {
    margin-right: 5%;
    display: grid;
    align-items: center;
    z-index: 2;
}
.nav_a {
    text-decoration: none;
    color: inherit;
}
.nav_a:hover {
    color: #B4B4DC;
}
.nav_ul img {
    max-width: 40px;
    max-height: 40px;
}
/*-------------main-------------*/
.main {
    margin-bottom: 50px;
}
.main_box {
    margin-bottom: 0.5rem;
    display: flex;
}
.main_img {
    max-height: 400px;
    border:  black solid;
}
.main_img img {
    max-width: 600px;
    max-height: 400px;
}
.main_item1 {
    max-width: 300px;
    max-height: 400px;
    border: black solid;
    margin-right: 0.5rem;
}
.main_item2 {
    margin-top: 0.5rem;
    max-height: 500px;
    border: black solid;
}
.main p {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    line-height: 2.2rem;
}
/*-------------subject-------------*/
.sub_item1 {
    max-width: 600px;
    max-height: 400px;
    border: black solid;
    margin-right: 0.5rem;
}
.sub_item2 {
    max-width: 600px;
    max-height: 400px;
    border: black solid;
    margin-left: 0.5rem;
}
.sub {
    border: black solid;
}
.sub_table {
    border: black solid;
    width: 100%;
}
.equi {
    text-align: center;
}
.explain {
    padding: 0 0.5rem;
}
.sub_table th, td, tr {
    border: 1px black solid;
}
.four {
    max-width: 40px;
    max-height: 40px;
    margin-left: 1rem;
    position: relative;
    bottom: 10px;
}
/*-------------footer-------------*/
.void {
    width: 100%;
    height: 150px;
}
.footer {
    width: 65%;
    max-width: 900px;
    height: 40px;
    margin: 0;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.footer p {
    color: lightslategray;
}
.footer a {
    color: white;
}
.footer_bar {
    background-color: #14148C;
    width: 100%;
    height: 40px;
    margin: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
.invisible {
    visibility: hidden;
}